* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #333;
}

header {
  background-image: linear-gradient(
    to right,
    rgb(61, 194, 90),
    rgb(139, 251, 64)
  );
  padding: 20px;
}

header input {
  width: 90%;
  margin: 0 auto;
  display: block;
  color: #fff;
  font-size: 32px;
  padding: 5px 15px;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 10px;
  appearance: none;
  outline: none;
}

.article {
  padding: 30px 15px;
  background-color: whitesmoke;
  border-radius: 5px;
}

.article article {
  padding: 5px;
}
.article article:nth-child(2n) {
  background-color: white;
}

.article article:hover {
  background-image: linear-gradient(
    to right,
    rgb(61, 194, 90),
    rgb(139, 251, 64)
  );
}
